<div class="box {{ class|default('') }}">
    <div class="box-header with-border {{ class_header|default }}">
        {% block header %}
        {% endblock header %}
    </div>
    <div class="box-body {{ class_body|default }}">
        {% block body %}
        {% endblock body %}
    </div>
    <div class="box-footer {{ class_footer|default }}">
        {% block footer %}
        {% endblock footer %}
    </div>
</div>
