{% block doctype_html %}
<!DOCTYPE html>
    {% block doctype %}
        {% block html_html %}
            <html lang="fr">
            {% block html %}
                {% block head_html %}
                    <head>
                        {% block head %}
                            {% block meta %}{% endblock meta %}
                            {% block title_html %}
                                <title>
                                    {% block title %}{% endblock title %}
                                </title>
                            {% endblock title_html %}
                            {% block scripts %}{% endblock scripts %}
                            {% block stylesheets %}{% endblock stylesheets %}
                            <link rel="icon" type="image/svg+xml" href="{{ asset('assets/images/logo.svg') }}">
                        {% endblock head %}
                    </head>
                {% endblock head_html %}
                {% block body_html %}
                    <body>
                    {% block body %}{% endblock body %}
                    </body>
                {% endblock body_html %}
            {% endblock html %}
            </html>
        {% endblock html_html %}
    {% endblock doctype %}
{% endblock doctype_html %}
