<footer class="main-footer">
    <div class="pull-right hidden-xs">
        <b>Version</b> 1.0
    </div>
    <strong>Copyright © 2020 <a href="https://dyosis.com">Dyosis</a>.</strong> Tous droits réservés
</footer>
