<!DOCTYPE html>
{% block html_html %}
<html>
{% block html %}
    {% block head_html %}
        <head>
            {% block head %}
                {% block title_html %}
                    <title>{% block title %}TODO{% endblock title %}</title>
                {% endblock title_html %}
                {% include 'Layout/Default/stylesheets.html.twig' %}
                {% include 'Layout/Default/javascripts.html.twig' %}
                {% block stylesheets %}{% endblock stylesheets %}
            {% endblock head %}
        </head>
    {% endblock head_html %}
    {% block body_html %}
        <body class="sidebar-mini skin-purple">
        <div class="wrapper">
            {% embed 'Widget/Header/Default/base.html.twig' with {'logo_link': path('app_home_index')} %}
                {% block logo_mini %}
                    TD
                {% endblock logo_mini %}
                {% block logo %}
                    TODO
                {% endblock logo %}
            {% endembed %}
            {% set items = nav_bar_business.navBar('default') %}
            {% include 'Widget/NavBar/Default/base.html.twig' with {'items': items} %}
            <div class="content-wrapper">
                {% block body %}
                    <section class="content-header">

                    </section>
                    <section class="content">
                        {% block content %}

                        {% endblock content %}
                    </section>
                {% endblock body %}
            </div>
            {% include 'Widget/Footer/Default/base.html.twig' %}
        </div>
        {% include 'Widget/Alert/base.html.twig' %}
        {% block scripts %}{% endblock scripts %}
        </body>
    {% endblock body_html %}
{% endblock html %}
</html>
{% endblock html_html %}
